.h2{
	font-size: 1.2em;
}

.img-fluid{
	width: 60%;
	height: 60%;
	padding-left: 1%;
}

content{
	padding-left: 1%;	
}

.textarea {
  margin:0px 0px;
  padding:5px;
  min-height:16px;
  line-height:16px;
  width:96%;
  display:block;
  margin:0px auto;    
}

.navbar-back {
	margin:0px 0px;
  	padding:5px;
	display: flex;
  	justify-content: flex-start;
}

label {
     display: inline-block;
     width: 200px;
     margin: 5px;
     text-align: left;
}
new-question, new-survey {
     display: inline-block;
     width: 200px;
}

edit-description-wrapper {
	padding-left: 1%;
	
}
