<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin add survey</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<h1>HH Survey</h1>
	<div>
		<div>
			<form th:object="${newSurvey}" th:action="@{save-survey}" action="#"
				method="post">
				<label for="title">Title</label>
				<input type="text" id="title" th:field="*{title}" />
					<input type="submit" value="Save"></input>
			</form>
		</div>
		<div>
			<table>
				<tr>Survey title</tr>
				<tr th:each="survey: ${surveys}">
					<td th:text="${survey.title} "></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>