<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<title>Survey tool</title>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="/css/styles.css" />
<script src="/js/survey-page-script.js"></script>
</head>
<body>
	<nav class="navbar navbar-primary bg-primary">
		<a class="navbar-brand"> <img class="img-fluid"
			src="/images/haaga-helia-logo.png" width="60%" height="60%"
			alt="Haaga-Helia logo">
		</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="navbar-brand"
				id="navbar-back" href="/admin">All your surveys</a></li>
		</ul>
	</nav>
	<div class="content">
		<h1 id="survey-title">
			<span th:text="${survey.title}"></span>
		</h1>
		<h2 class="h2" id="survey-description">
			<span th:text="${survey.description}"></span>
		</h2>
		<div>
		<a th:href="@{https://survey-tool-react-production.up.railway.app/survey/{id}/report(id=${survey.surveyId})}"><button>View Report</button></a></div>
		<div><a id="responselink"
		 th:href="@{https://survey-tool-react-production.up.railway.app/survey/{id}/response(id=${survey.surveyId})}"
		 th:text="@{https://survey-tool-react-production.up.railway.app/survey/{id}/response(id=${survey.surveyId})}"></a>
		 <button id="copyresponselinkbutton">Copy link</button></div>
		<div id=edit-description-wrapper>
			<button id="edit-description-button" type="button">Edit</button>
			<form action="#" id="description-form" method="post"
				th:object="${survey}" th:action="@{/save-description}"
				style="display: none;">
				<label for="id"></label> <input type="hidden" id="id"
					th:field="${survey.surveyId}"> <label for="title"></label>
				<input type="text" th:field="${survey.title}" id="title"> <label
					for="description"></label> <input type="text"
					th:field="${survey.description}" id="description">
				<label for="startTime"></label>
					<input type="datetime-local" th:field="${survey.startTime}" id="startTime">
				<label for="endTime"></label>
					<input type="datetime-local" th:field="${survey.endTime}" id="endTime" >
					<input type="submit" value="Save">
			</form>
		</div>

		<h2 class="h2">Add a new question:</h2>

		<!-- Form for adding a new question -->
		<form th:object="${newQuestion}" th:action="@{/save-question}"
			method="post" action="#" id="questionForm">
			<label for="questionType">Question type:</label> <select
				th:field="${newQuestion.type.type}" id="questionType"
				name="questionType" onchange="setFormAction()">
				<option value="text">Text</option>
				<option value="radio">Radio Button</option>
				<option value="checkbox">Checkbox</option>
			</select>
			<div id="questionInput">
				<label for="questionText">Question Text:</label>
				<textarea id="questionText" name="questionText"
					th:field="${newQuestion.content}" th:required="required"></textarea>
			</div>
			<input type="hidden" th:field="${newQuestion.survey.surveyId}">
			
			<!--  <label for="selectedCount">Number of Selected Options:</label> <input
				type="text" id="selectedCount" name="selectedCount"
				th:field="${newQuestion.selectedCount}" size="1" maxlength="1">-->
			
			<input type="submit" value="Add">
		</form>

		<!-- Show all questions in this survey -->
		<h2 class="h2">Questions:</h2>
		<ol>
			<th:block th:each="question : ${questions}">
				<li th:text="${question.content}"></li>
			</th:block>
		</ol>
	</div>
</body>
</html>


